extends ../layouts/layout.pug

block content
	div(class="py-4 d-flex justify-content-center bg-primary text-white")
		h1 Login
	.container
		if errors
			each error in errors
				.alert.alert-warning= error
	div.container
		form(action="", method="POST")
			.form-group
				label(class="h4", for="email") Email
				input#email.form-control(type="text", name="email", value=value ? value.email : '')
			.form-group
				label(class="h4", for="password") Password
				input#password.form-control(type="text", name="password")

				button(class="my-2 btn btn-success") Login
