html
	head
		//- script(src="https://kit.fontawesome.com/7c6793a68c.js")
		link(rel="stylesheet", href="/source/bootstrap4/css/bootstrap.css")
		//- link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous")
		script(src="/source/bootstrap4/js/jquery.js")
		script(src="/source/bootstrap4/js/popper.js")
		script(src="/source/bootstrap4/js/bootstrap.js")
	body
		div(style="",class="bg-light container-fluid py-3 d-flex align-items-center text-center")
			img(src="https://static.coders.tokyo/coders-tokyo-school-logo.svg", class="mr-auto")
			a(class="btn btn-primary mr-1",href="/") Home
			a(class="btn btn-primary mr-1",href="/users") User
			a(class="btn btn-primary",href="/users/create") Create	
		block content