extends ../layouts/layout.pug

block content
	div(class="container text-center")
		form(action="/users/search", method="GET")
			div(class="d-flex justify-content-center align-items-center")
				a(class="my-2 btn btn-success mr-auto",href="/users/create") Create
				input(class="input", type="text", name="q", value="")
				button(class="btn btn-warning") Search
	table(class="container text-center table py-2 table-hover")
		tbody
			thead.thead-dark
				tr 
					th(scope="col") Avatar
					th(scope="col") Name
					th(scope="col") Phone							
					th(scope="col") View	
			each user in users
				tr.py-4
					td
						if user.avatar
							img(src=user.avatar, width="50", height="50")
						else
							i(class="fas fa-user fa-2x ml-auto mr-2")
					td(scope="row",class="font-weight-bold")= user.name
					td(scope="row",class="font-weight-bold")= user.phone
					td(scope="row") 
						a(href='/users/'+user.id) View